# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS dosyaları
.DS_Store
Thumbs.db

# Log dosyaları
*.log

# pipenv
Pipfile.lock

# VSCode workspace (eğer gerekirse)
.vscode/

